@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;800&display=swap');
/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #0E5AF2;
    --color-secondary: #8A99B4;
    --bg-color-light: #0B2048;
    --color-white: #ffffff;
    --color-dark: #000000;
    --line-header: rgba(0, 0, 0, 0.096);
}

.container {
    margin: auto 50px;
}

* {
    font-family: 'Exo 2', sans-serif;
}

.section-subtitle {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
}

.section-title {
    line-height: 1.35;
    font-weight: 700;
    font-size: 36px;
}